<h1>Home#contacto</h1>
<p>Find me in app/views/home/contacto.html.erb</p>
<%=@titulo%>
<%@nombre.each do |nom|%> <p><%= nom %></p> <%end%>
<p>"Prueba del metodo flash"</p>
<% if flash[:noticia]%>
<div><%= flash[:noticia] %></div>
<%end%>
<% if flash[:error]%>
<div><%= flash[:error] %></div>
<%end%>
